body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

.container {
  width: 33%;
  height: 800px;
  display: inline-block;
  float: left;
  text-align: center;

  .side-title {
    display: block;
    margin: 20px 0;
    font-size: 18px;
  }
}

.scroll-creator {
  background: linear-gradient(to bottom, #BDEAFC, #FCBDC9);
}

.panel {
  display: inline-block;
  width: 288px;
  box-shadow: 0 0 1px #DDD;
  border-radius: 8px;
}

.panel-header {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  background-color: #333;
  text-align: left;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.panel-content, .outer-container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.panel-content-native {
  max-height: 525px;
  overflow: auto;
}

.panel-content-custom {
  max-height: 525px;
}

.content-fill {
  background: #D6EFF5;
  line-height: 20px;
  font-size: 12px;
  text-align: left;
  padding: 10px 20px;

}
