{
    "rules": {
        "no-var": 2,
        "prefer-arrow-callback": 0,
        "no-confusing-arrow": 2,
        "prefer-const": 2,
        "no-const-assign": 2,
        "prefer-spread": 0,
        "prefer-template": 2,
        "strict": [2, "global"],
        "arrow-body-style": [2, "as-needed"],
        "arrow-parens": [2, "as-needed"],
        "arrow-spacing": [2, { "before": true, "after": true }],
        "constructor-super": 2,
        "lodash/chaining": [2, "always"],
        "lodash/collection-method-value": 0,
        "lodash/consistent-compose": 0,
        "lodash/no-commit": 0,
        "lodash/path-style": 0,
        "lodash/prefer-constant": 0,
        "lodash/prefer-filter": 0,
        "lodash/prefer-lodash-method": 0,
        "lodash/prefer-lodash-typecheck": 0,
        "lodash/prefer-map": 0,
        "lodash/prefer-matches": 0,
        "lodash/prefer-noop": 0,
        "lodash/prefer-startswith": 0
    },
    "plugins": [
        "lodash"
    ],
    "env": {
        "amd": true
    },
    "globals": {
        "requirejs": true
    }
}
