{
  "extends": "wix-editor",
  "rules": {
    "strict": [
      2,
      "global"
    ],
    "semi": 0,
    "no-var": 1,
    "no-extra-parens": 0,
    "no-throw-literal": 0,
    "indent": 0,
    "react/sort-comp": 2
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "jasmine": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "requirejs": true
  },
  "plugins": [
    "react"
  ]
}
