.custom-scroll {
    $scroll-margin-top: 6px;

  .outer-container {
    overflow: hidden;
    position: relative;

    &:hover .custom-scrollbar {
      opacity: 1;
      transition-duration: 0.2s;
    }
  }

  .inner-container {
    overflow-x: hidden;
    overflow-y: scroll;

    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 0;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0) 100%);
      pointer-events: none;
      transition: height 0.1s ease-in;
      will-change: height;
    }
    &.content-scrolled:after {
      height: 5px;
      transition: height 0.15s ease-out;
    }
  }

  .custom-scrollbar {
    position: absolute;
    height: 100%;
    width: 6px;
    right: 3px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease-out;
    padding: 6px 0;
    box-sizing: border-box;
    will-change: opacity;
  }

  .handleDrag {
    opacity: 1;
  }

  .custom-scroll-handle {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .inner-handle {
    height: calc(100% - #{2 * $scroll-margin-top});
    margin-top: $scroll-margin-top;
    background-color: rgba(#4eb7f5, 0.7);
    border-radius: 3px;
  }
}

.crazy-scroll {
  .custom-scrollbar {
    width: 45px;
  }

  .inner-handle {
    background-color: inherit;
    background-image: url("http://fc07.deviantart.net/fs71/f/2012/008/7/d/tour_eiffle___stock_image_by_berrykissed-d4lq72r.png");
    background-repeat: no-repeat no-repeat;
    background-size: contain;
  }
}
