#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: black;
}

.app-root {
  max-height: calc(100vh - 70px);
  max-width: 900px;
  margin: 0 auto;
  padding-top: 90px;
}

.demo-title {
  font-size: 32px;
  margin: 24px 0;
  padding: 0 24px;
}

.demo-subtitle {
  max-width: 606px;
  margin: 0 auto 50px;
  text-align: center;
  padding: 0 24px;
}
