#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: black;
}

.app-root {
  max-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}
